body{margin-top:20px;
  background:#eee;
  }
  
  /*panel*/
  .panel {
      border: none;
      box-shadow: none;
  }
  
  .panel_heading {
      border-color:#eff2f7 ;
      font-size: 16px;
      font-weight: 300;
  }
  
  .panel_title {
      color: #2A3542;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 0;
      font-family: 'Open Sans', sans-serif;
  }
  
  /*product list*/
  
  .prod_cat li a{
      border-bottom: 1px dashed #d9d9d9;
  }
  
  .prod_cat li a {
      color: #3b3b3b;
  }
  
  .prod_cat li ul {
      margin-left: 30px;
  }
  
  .prod_cat li ul li a{
      border-bottom:none;
  }
  .prod_cat li ul li a:hover,.prod_cat li ul li a:focus, .prod_cat li ul li.active a , .prod_cat li a:hover,.prod_cat li a:focus, .prod_cat li a.active{
      background: none;
      color: #ff7261;
  }
  
  .pro_lab{
      margin-right: 20px;
      font-weight: normal;
  }
  
  .pro_sort {
      padding-right: 20px;
      float: left;
  }
  
  .pro_page_list {
      margin: 5px 0 0 0;
  }
  
  .product_list img{
      width: 100%;
      border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
  }
  
  .product_list .pro_img_box {
      position: relative;
  }
  .adtocart {
      background: #fc5959;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      color: #fff;
      display: inline-block;
      text-align: center;
      border: 3px solid #fff;
      left: 45%;
      bottom: -25px;
      position: absolute;
  }
  
  .adtocart i{
      color: #fff;
      font-size: 25px;
      line-height: 42px;
  }
  
  .pro_title {
      color: #5A5A5A;
      display: inline-block;
      margin-top: 20px;
      font-size: 16px;
  }
  
  .product_list .price {
      color:#fc5959 ;
      font-size: 15px;
  }
  
  .pro_img_details {
      margin-left: -15px;
  }
  
  .pro_img_details img {
      width: 100%;
  }
  
  .pro_d_title {
      font-size: 16px;
      margin-top: 0;
  }
  
  .product_meta {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 10px 0;
      margin: 15px 0;
  }
  
  .product_meta span {
      display: block;
      margin-bottom: 10px;
  }
  .product_meta a, .pro_price{
      color:#fc5959 ;
  }
  
  .pro_price, .amount-old {
      font-size: 18px;
      padding: 0 10px;
  }
  
  .amount_old {
      text-decoration: line-through;
  }
  
  .quantity {
      width: 120px;
  }
  
  .pro_img_list {
      margin: 10px 0 0 -15px;
      width: 100%;
      display: inline-block;
  }
  
  .pro_img_list a {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
  }
  
  .pro_d_head {
      font-size: 18px;
      font-weight: 300;
  }
